.comments {
  padding: 50px 0 80px;
  background-color: $color-1;
  .container {
    .row {
      .col {
        .testimonial {
          &-box {
            text-align: center;
            padding: 30px;
            margin: 90px 10px 0;
            min-width: 250px;
            position: relative;
            background-color: #fff;
            transition: all 0.3s;
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
            &:hover {
              transform: scale(1.04);
              box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
            }
          }
          &-image {
            position: absolute;
            width: 100%;
            left: 0;
            top: -55px;
            img {
              border: 8px solid #fff;
              width: 100px;
              height: 100px;
              object-fit: cover;
              border-radius: 50%;
            }
          }
          &-title {
            margin: 20px 0 10px;
            font-size: 0.96rem;
            font-weight: 500;
          }
          &-details {
            font-size: 0.94rem;
            margin-bottom: 15px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
          &-info {
            font-size: 0.8rem;
            font-weight: 500;
            color: $color-6;
            b {
              color: $color-10;
            }
            .star {
              margin-top: 10px;
              color: $color-10;
            }
          }
        }
      }
    }
  }
}