.topbar {
  background-color: $color-7;
  min-height: 30px;
  overflow: hidden;
  a {
    color: #fff;
    font-size: 0.8rem;
    font-family: $roboto;
    font-weight: 200;
  }
  ul:nth-child(1) {
    li {
      a {
        padding: 10px 8px;
        &:hover {
          background-color: $color-8;
        }
        span {
          margin-left: 2px;
        }
      }
    }
  }
  ul:nth-child(2) {
    li {
      a {
        padding: 10px;
        &:hover {
          background-color: $color-8;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .topbar {
    .container {
      justify-content: center;
      ul:nth-child(2) {
        display: none;
      }
    }
  }
}