// font
$playfairDisplay: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;
$raleway : 'Raleway', sans-serif;
$pacifico : 'Pacifico', cursive;

// color
$color-1: #F8F9FA;
$color-2: #f2f2f3;
$color-3: #DEE2E6;
$color-4: #CED4DA;
$color-5: #ADB5BD;
$color-6: #6C757D;
$color-7: #495057;
$color-8: #343A40;
$color-9: #212529;
$color-10: #F8961E;

$linearGradient-1: linear-gradient(35deg, $color-8 0%, $color-7 35%, $color-9 100%);
$linearGradient-2: linear-gradient(35deg, $color-2 0%, $color-1 35%, $color-2 100%);