.header {
  background: $linearGradient-2;
  nav {
    padding: 0;
    .container {
      padding-right: 0;
      padding-left: 0;
      .navbar-brand {
        padding: 0;
        margin: 15px 20px;
        img:nth-child(1) {
          width: 36px;
          display: none;
        }
        img:nth-child(2) {
          width: 180px;
        }
      }     
      .navbar-toggler {
        margin: 15px 20px;
        span {
          font-size: 20px;
        }
      }
    }    
    .navbar-collapse {
      ul {
        list-style-type: none;
        display: flex;
        margin: 0 0 0 15px;
        padding: 0 5px;
        align-items: center;
        li {
          align-items: center;
          display: flex;
          a {
            color: $color-9;
            text-decoration: none;
            font-size: 14px;
            padding: 28px 20px;
            &:hover {
              color: #fff;
              background: $color-9;
            }
          }
          .button {
            display: flex;
            color: $color-9;
            font-size: 13px;
            font-weight: 600;
            align-items: center;
            border-radius: 3px;
            padding: 10px 17px;
            justify-content: center;
            text-decoration: none;
            i {
              font-size: 16px;
              margin-right: 7px;
            }
            &-in {
              background-color: $color-10;
              border: 1px solid $color-10;
              &:hover {
                color: white;
                border: 1px solid $color-9;
                background-color: $color-9;
              }
            }
            &-up {
              color: $color-9;
              border: 1px solid $color-9;
              &:hover {
                color: white;
                border: 1px solid $color-9;
                background-color: $color-9;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1199.5px) {
  .header {
    .navbar-nav {
      ul:nth-child(1) {
        position: absolute;
        left: 0;
        background: linear-gradient(125deg, $color-3 0%, $color-4 35%, $color-4 100%);
        top: 72.96px;
        margin: 0;
        min-height: 70px;
        width: 100%;
        justify-content: center;
        li {
          a {
            margin: 0 5px;
            border-radius: 2px;
            padding: 10px 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 991.5px) {
  .header {
    .navbar-collapse {
      .navbar-nav {
        display: flex;
        width: 100%;
        ul:nth-child(1) {
          position: static;
          order: 2;
          justify-content: center;
          background: transparent;
          flex-direction: row;
        }
        ul:nth-child(2) {
          display: flex;
          width: 100%;
          min-height: 70px;
        }
      }
    }
  }
}

@media (max-width: 576.5px) {
  .header {
    .navbar-collapse {
      background: linear-gradient(15deg, $color-10 0%, $color-4 35%, $color-3 100%);
      .navbar-nav {
        padding: 0;
        ul:nth-child(1) {
          background: linear-gradient(125deg, $color-3 0%, $color-4 35%, $color-4 100%);
          flex-direction: column!important;
          padding: 20px 20px 12px;
          li {
            width: 100%;
            a {
              display: flex;
              width: 100%;
              margin: 0;
              border-radius: 2px;
              padding: 10px 20px;
            }
          } 
        }
        ul:nth-child(2) {
          margin: 0;
          background: linear-gradient(25deg, $color-3 0%, $color-2 35%, $color-1 100%);
          padding: 10px 20px;
          background-color: red;
        }
      }
    }
  }
}

@media (max-width: 374.5px) {
  .header {
    nav {
      .container {
        .navbar-brand {
          img:nth-child(1) {
            display: block;
          }
          img:nth-child(2) {
            display: none;
          }
        }
      }
    }
  }
}